<ul id="todo-list">
   {{#each itemController="task"}}
       <li {{bind-attr class="isCompleted:completed isEditing:editing"}}>
          {{#if isEditing}}
             {{edit-task class="edit" value=description focus-out="acceptChanges" insert-newline="acceptChanges"}}
          {{else}}
             {{input type="checkbox" checked=isCompleted class="toggle"}}
              <label {{action "editTodo" on="doubleClick"}}>{{description}}</label><button {{action "removeTodo"}} class="destroy"></button>
          {{/if}}
       </li>
   {{/each}}
</ul>